<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ryokonishi.android_test" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    
    
    
    <!--各デバイスのパーミッション、使用権限-->

    <!--GPSのパーミッション-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--ネットワーク経由による位置情報取得のパーミッション-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    
    <!--カメラの使用権限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--保存時の書き込み権限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--カメラハードウェアを使う-->
    <uses-feature android:name="android.hardware.camera" />
    <!--カメラのオートフォーカス機能を使う-->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--カメラフラッシュ（LEDライト）機能を使う-->
    <uses-feature android:name="android.hardware.camera.flash" />
</manifest>
